/* common style  */
body{
    max-width: 100%;
    overflow-x:hidden
}
/* top banner background  */
.banner-background{
    background-color: #264653;
}
.button-color{
background-color: #E76F51;
color: #fff;
font-weight: 100px;
}



/* Feture Bike section  */
.feture-bike-grayscale{
    cursor: pointer;
    filter: grayscale(100%);
}
img:hover{
    filter: grayscale(0%);
}


.differnt-color{
    color: #E76F51;
}

/*  Client section  */

.client-image{
    width: 149px;
    height: 149px;
    border-radius: 50%
}
.fa-star.filled{
    color: #E76F51;
}
.fa-star.empty{
    color:#AEAEAE;
    
}
.text-diff-color{
    color:#23A6F0;
}
/* Frequently Asked Questions section  */
.qusetion-section{
    width: 431px;
    height: 423px;

}